server {
  listen 80 default_server;
  listen [::]:80 default_server;
  root /vagrant/public;
  index index.html index.php;
  server_name _;

  client_max_body_size 30M;

  access_log /vagrant/log/access.log combined;
  error_log /vagrant/log/error.log;

  if (!-e $request_filename) {
    rewrite ^.*$ /index.php last;
  }

  location / {
    try_files $uri $uri/ /index.php;
  }

  location ~ \.php$ {
    fastcgi_pass    unix:/var/run/php/php7.0-fpm.sock;
    fastcgi_index   index.php;
    fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_param   APPLICATION_ENV dev;
    include         fastcgi_params;
    fastcgi_read_timeout 600;
  }
}
